<footer class="footer">
    <div class="footer__wrapper">
        <nav class="footer__menu">
            <ul class="footer__menu-item">
                <li>Article</li>
                <li>Books</li>
                <li>Events</li>
                <li>Reasons</li>
                <li>Tips</li>  
            </ul>
            <ul class="footer__menu-social">
                <li>Twitter</li>
                <li>Instagram</li>
                <li>Mastodon.social</li>
            </ul>
            <p class="footer__copyright"> ©️ 2017 </p>
            <p class="we__love">we ❤️ components</p>
        </nav>
    </div>
</footer>