<footer class="footer">
    <div class="footer__wrapper">
        <div class="arrow__top">
            <a class="icon__arrow-top" href="#" >
                <img src="assets/images/ico-arrow.svg" alt="arrow top">
            </a>
        </div>
        <nav class="footer__menu">
            <ul class="footer__menu-item">
                <li><a href="footer__link">Article</a></li>
                <li><a href="footer__link">Books</a></li>
                <li><a href="footer__link">Events</a></li>
                <li><a href="footer__link">Reasons</a></li>
                <li><a href="footer__link">Tips</a></li>  
            </ul>
            <ul class="footer__menu-social">
                <li><a href="social__link">Twitter</a></li>
                <li><a href="social__link">Instagram</a></li>
                <li><a href="social__link">Mastodon.social</a></li>
            </ul>
            <p class="footer__copyright"> ©️ 2017 </p>
            <p class="we__love">we ❤️ components</p>
        </nav>
    </div>
</footer>