<header class="header__page">
        <section class="hero">
            <div class="menu__hamburger">
                <a class="menu__hamburger-link" href="#" >
                    <img src="assets/images/ico-menu.svg" alt="menu hamburger">
                </a>
            </div>
            <div class="hero__image">
                <div class="hero__info">
                    <h1 class="title">Anonymous Proxy</h1>
                    <p class="second__title">In hac habitasse platea dicttumst.</p>
                </div>
                <div class="icon__scroll">
                        <a class="icon__scroll-link" href="#page__main" >
                            <img src="assets/images/ico-scroll-down.svg" alt="scroll down">
                        </a>
                </div>
            </div>
        </section>
</header>