<main class="page__main">@@label</main>

<main class="page__main">
    <section class="section__one">
        <div class="section__info">
            <p class="title__mini">Insomnia Tips</p>
            <h2 class="title__section">Looking through a window</h2>
            <p class="info__section"></p>
        </div>
        <button class="button__go"></button>
    </section>
    <section class="section__two">
        <div class="section__info-two">
            <h2 class="title__section-two">3 reasons to purchase</h2>
            <p class="column__one"><strong>Utsed metus</strong>Lorem ipsum, dolor sit amet consectetur.</p>
            <p class="colum__two"><strong>Curabitur ac erat</strong>Lorem ipsum, dolor sit amet consectetur.</p>
            <p class="info"><strong>Morbi dictum</strong>Lorem ipsum, dolor sit amet consectetur.</p>
        </div>
        <button class="more__reasons"></button>
        <button class="arrow__top"></button>
    </section>
</main>