<main class="page__main">
    <section class="section__one">
        <div class="section__info">
            <p class="title__mini">Insomnia Tips</p>
            <h2 class="title__section">Looking through a window</h2>
            <p class="info__section">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, tempora. Explicabo, deleniti quasi alias ducimus asperiores.</p>
        </div>
        <div class="go">
            <button class="button__go">Go</button>
        </div>
    </section>
    <section class="section__two">
        <div class="section__info-two">
            <h2 class="title__section-two">3 reasons to purchase</h2>
            <p class="column__title"><strong>Utsed metus</strong></p>
            <p class="column__text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p class="column__title"><strong>Curabitur ac erat</strong></p>
            <p class="column__text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p class="column__title"><strong>Morbi dictum</strong></p>
            <p class="column__text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <button class="more__reasons">More reasons</button>
        <button class="arrow__top">
            <a class="icon__arrow-top" href="#" >
                <img class="arrow" src="assets/images/ico-arrow.svg" alt="arrow top">
            </a>
        </button>
    </section>
    <section class="offer">
        <h2 class="special__offer">Special offer</h2>
        <div class="info__special__offfer">
            <h3 class="discount">20% discount</h3>
            <p class="info__offer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt quidem ratione ut tempore reprehenderit quasi voluptas consequuntur! Inventore vitae sint nisi aut illum, exercitationem sunt, facere officia ea ducimus eligendi.</p>
        </div>
    </section>
</main>