.footer {
    min-height: 465px;
    background-color: $colorDarkblue;
    font-family: $fontText;
    color: $colorWhite;
    font-weight: lighter;
}
.footer__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.arrow__top  {
    margin: 0;
    position: absolute; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: $colorWhite;
    border-radius: 25px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    transform: translateY(-50%);

    @media all and (min-width: 768px){}
    @media all and (min-width:1280px){}

}
.footer__menu { 
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.88;
    padding-top: 60px; 
    @media all and (min-width: 768px){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
       
    }

}
.footer__menu-item{
    list-style: none;
    padding: 0;

    @media all and (min-width: 768px){
        width: 210px;
    }
   
}
.footer__menu-item a {
    text-decoration: none;
    color: $colorWhite;
    padding: 0;
    transition: 0.25s ease-in-out;
    &:hover{
        color: $colorOrange;
    }
}

.footer__menu-social {
    list-style: none;
    padding: 0;
    @media all and (min-width: 768px){
        width: 210px;
    }
}
.footer__menu-social a{
    text-decoration: none;
    color: $colorWhite;
    margin-top: 30px;
    padding: 0;
    transition: 0.25s ease-in-out;
    &:hover{
        color: $colorOrange;}
}

.copyright__content{
    @media all and (min-width: 768px){
        display: grid;
        grid-column: 1/2;
		grid-row: 1/1;
        width: 210px;}

}
.footer__copyright {
    padding: 0;
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
    @media all and (min-width: 768px){
       }
}
.we__love{
    margin: 0;
    text-transform: lowercase;
    padding-bottom: 45px;

    @media all and (min-width: 768px){
        
    }
}