.footer {
    min-height: 465px;
    background-color: #304268;
    font-family: $fontText;
    color: white;
    font-weight: lighter;
}
.footer__menu { 
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.88;
    padding-top: 60px;  
}
.footer__menu-item {
    list-style: none;
    padding: 0;
}
.footer__menu-social {
    list-style: none;
    margin-top: 30px;
    padding: 0;
}
.footer__copyright {
    padding: 0;
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
}
.we__love{
    text-transform: lowercase;
    padding-bottom: 45px;
}