.header__page{}
.hero{
    background-image: url(assets/images/cover);
    height: 768px;
}
.menu__hamburguer{
    width: 44px;
    height: 44px;
    color:#0271bc;
    position: fixed;
    

}
.hero__image{}
.hero__info{}
.title{
    font-size: 100px;
    font-weight: 700;
}
.class{}
.button__hero{}