.menu__hamburger-link{
    width: 44px;
    height: 44px;
    background-color: $colorBlue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
}
.hero__image{
    height: 568px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../images/cover.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.title{
    margin: 0;
    width: 290px;
    font-family: $fontSecond;
    color: $colorWhite;
    font-size: 42px;
    font-weight: bold;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 170px;
    
    @media all and (min-width: 768px){
        width: 690px;
        font-size: 80px;
        line-height: 106px;
    }

    @media all and (min-width:1280px) {
        font-size: 100px;
        line-height: 132px;
    }
}
.second__title{
    margin: 0;
    font-family: $fontText;
    color: $colorWhite;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    padding-top: 10px;

    @media all and (min-width: 768px){
        font-size: 24px;
    }
}
.icon__scroll{
    position: absolute;
    background-color: $colorWhite;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 235px;

    @media all and (min-width: 768px){
        margin-top: 270px;
    }
}