.page__main {
   
}
.section__one { 
    background-color: grey;
    max-height: 376px;}
.section__info {}
.title__mini {}
.title__section {}
.info__section {}
.button__go {}
.section__two {
    background-color: #eff9ff;
    max-height: 624px;
}
.section__info {}
.title__section {}
.column__one {}
.colum__two {}
.info {}
.more__reasons {}
.arrow__top {}