.page__main {
    margin: 0;
}
.section__one { 
   max-height: 376px;
   padding: 0 15px 0 15px;
}
.title__mini {
    color: #8ccbea;
    font-family: $fontText;
    font-size: 14px;
    padding-top: 30px;
}
.title__section {
    font-family: $fontSecond;
    font-size: 24px;
}
.info__section {
    font-family: $fontText;
    font-size: 18px;
    line-height: 1.67;
    color: #4a4a4a;
}
.go{
    padding-top: 30px;
    padding-bottom: 45px;
}
.button__go {
    width: 76px;
    height: 45px;
    font-family: $fontText;
    font-size: 20px;
    color: $colorOrange;
    border: 2px solid $colorOrange; 
    border-radius: 22.5px;
}
.section__two {
    background-color: #eff9ff;
    max-height: 624px;
    padding: 30px 15px 60px 15px;
}
.section__info-two{
    text-align: center;
}
.title__section-two{
    font-family: $fontSecond;
    font-size: 24px;
    margin: 0;
}
.column__title{
    font-family: $fontSecond;
    font-size: 18px;
    padding-top: 45px;
}
.column__text{
    font-family: $fontText;
    font-size: 18px;
    line-height: 1.67;
}
.more__reasons {
    font-size: 20px;
    width: 184px;
    height: 45px;
    background-color: $colorOrange;
    color: white;
    border-radius: 25px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}
.arrow{
    text-align: center;
    margin: auto;
}
.arrow__top {
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 45px;
}