
$fontText: 'Roboto', sans-serif;
$fontSecond: 'Roboto Slab', serif;
$colorWhite: #ffffff;
$colorOrange: #f26002;
$colorBluesecond: #eff9ff;
$colorGrey: #4a4a4a;
$colorBlueligth: #8ccbea;
$colorBlue:#0271bc;
$colorDarkblue: #304268;